<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="true">

  <variable name="InfoLogDir" value="${basedir}/Log"/>
  <variable name="ErrorLogDir" value="${basedir}/Error"/>
  <variable name="LogDay" value="${date:format=yyyy-MM-dd}"/>

  <targets>
    <target name="InformationTarget"
            xsi:type="File"
            fileName="${InfoLogDir}/${LogDay}.log"
            layout="${newline}${date:format=yyyy-MM-dd HH\:mm}${newline}${message}"
            encoding="utf-8"
            maxArchiveFiles="10"
            archiveNumbering="Sequence"
            archiveAboveSize="1048576"
            archiveFileName="${InfoLogDir}/{#######}.a" />


    <target name="ErrorTarget"
            xsi:type="File"
            fileName="${ErrorLogDir}/errors.log"
            layout="${newline}### ERROR ###${newline}${date:format=yyyy-MM-dd HH\:mm}${newline}${message}"
            encoding="utf-8" />


    <target name="SystemEventLogTarget"
            xsi:type="EventLog"
            layout="OilDealNotification${newline}${message}${newline}Source code: C:\Users\sdemaine\source\Logging\LoggingSample\LoggingSample"
            machineName="."
            source="LoggingSample"
            log="Application" />


  </targets>
  
    
  
  <rules>
    <logger name="AppLog" writeTo="InformationTarget" />
    <logger name="ErrorLog" writeTo="ErrorTarget,SystemEventLogTarget" levels="Fatal,Error,Warn" />
  </rules>
</nlog>